@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-slate-200;
}
.card{
  width: 60px;
}
.cardimg{
  @apply  absolute cursor-pointer ;
  width: 120px;
  transition: all linear 0.5s;
}
.cardimg:hover{
  top: -10px;
}